@model IEnumerable<BaiGiang.Models.Mon>
@{
    ViewBag.Title = "SuaMon";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row"><div class="col-sm-6"><div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length" aria-controls="example1" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="example1"></label></div></div></div><div class="row">
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Mã Môn</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Tên Môn</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Chi tiết</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Xóa Môn</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Sửa Môn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    { 
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">@item.Id</td>
                                                <td>@item.TenMon</td>
                                                <td>@item.ChiTiet</td>
                                                @using (Html.BeginForm("DeleteMon", "Admin", FormMethod.Post))
                                                { 
                                                <input type="hidden"  name="Id" value="@item.Id"/>
                                                <td><input id="Submit1" type="submit" value="Xóa" /></td>
                                                }
                                                <td>@Html.ActionLink("Sửa", "ChiTietSuaMon", new { id = @item.Id})</td>
                                            </tr>
                                        }

                                    }
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                        @*<div> @Html.PagedListPager(Model, page => Url.Action("MainAdmin", new { page = page }))</div>*@
                    </div>
                </div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

